:root {
  --animation-delay: 0.5s;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Great Vibes', cursive;
  height: 90vh;
  justify-content: center;
  width: 88vw;
  margin: auto;
  background-color: #E2F1E3;
}

.overlay {
  align-items: center;
  animation-fill-mode: forwards;
  animation: 0.2s linear var(--animation-delay) textAni;
  background: lightslategray;
  border: 5px solid white;
  box-shadow: -7px 7px 25px -9px grey;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  margin: auto;
  padding: 30px 10px;
  text-align: center;
  transform: rotate(0deg);
}

.overlay h1,
.overlay h2 {
  margin: 0 0 10px 0;
  animation-fill-mode: forwards;
  background: transparent;
  padding: 3px 10px;
}

.overlay h1 {
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  margin-bottom: 10px;
}

.overlay h2:first-of-type {
  padding-top: 5px;
  margin-bottom: 0;
}

.overlay h2:nth-child(3) {
  margin-bottom: 30px;
}

.overlay h2 {
  font-size: 25px;
}

@media (min-width: 600px) {

  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .overlay {
    font-size: 73px;
    animation: 0.2s linear var(--animation-delay) textAni;
    animation-fill-mode: forwards;
    padding: 60px;
    position: fixed;
    box-shadow: none;
  }

  @keyframes textAni {
    to {
      transform: rotate(-3deg);
      box-shadow: -7px 7px 25px -9px grey;
    }
  }


  .overlay h1 {
    border-bottom: 0;
    margin-bottom: 0;
  }

  .overlay h2:first-of-type {
    padding-top: 0;
  }

  .overlay h1,
  .overlay h2 {
   padding: 0;
  }

  .overlay h2 {
    font-size: 30px;
  }
}
