:root {
  --animation-duration: 12s;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Julius Sans One', sans-serif;
  height: 85vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  margin: 0;
}

.svg {
  animation: var(--animation-duration) ease-in 0s slidein;
  animation-fill-mode: forwards;
  position: fixed;
  height: 4000px;
  width: 4000px;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
}


@keyframes slidein {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.13);
  }
}

.tree-outline {
  stroke:#000000;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 15s linear 13s infinite alternate;
  fill: transparent;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.overlay {
  align-items: center;
  animation: 0.01s linear var(--animation-duration) fillin;
  animation-fill-mode: forwards;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
  position: fixed;
  text-align: center;
  transform: rotate(-3deg);
  padding: 0 20px;
}

@keyframes fillin {
  to {
    color: black;
    transform: rotate(-4deg);
  }
}

.overlay h1 {
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}

.overlay h2:first-of-type {
  padding-top: 5px;
}

.overlay h1,
.overlay h2 {
  margin: 0;
  animation: 0.01s linear var(--animation-duration) fillinText;
  animation-fill-mode: forwards;
  background: transparent;
  opacity: 0;
  padding: 3px 10px;
}

.overlay h2 {
  font-size: 20px;
}

@keyframes fillinText {
  to {
    background: palegreen;
    opacity: 1;
 }
}

@media (min-width: 600px) {

  body {
    height: 100vh;
  }

  .overlay {
    font-size: 27px;
    animation: 0.2s linear var(--animation-duration) fillin;
  }

  .overlay h1,
  .overlay h2 {
   opacity: 1;
   padding: 0;
   animation: 0.2s linear var(--animation-duration) fillinText;
  }

  .overlay h2 {
    font-size: 27px;
  }

  @keyframes slidein {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.15);
    }
  }
}
