body {
  align-items: center;
  display: flex;
  font-family: 'Julius Sans One', sans-serif;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.overlay {
  align-items: center;
  animation: 0.2s linear 12s fillin;
  animation-fill-mode: forwards;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  transform: rotate(-3deg);
  width: 100%;
}

.overlay h1,
.overlay h2 {
  margin: 0;
  animation: 0.2s linear 12s fillinTextSmall;
  animation-fill-mode: forwards;
}

.svg {
  animation: 12s ease-in 0s slidein;
  animation-fill-mode: forwards;
  position: fixed;
  height: 4000px;
  width: 4000px;
}

@keyframes slidein {
  from {
      transform: scale(1);
  }

  to {
    transform: scale(0.15);
  }
}


@keyframes fillin {
  from {
    color: white;
    transform: rotate(-3deg);
  }

  to {
    color: black;
    transform: rotate(-4deg);
  }
}

@keyframes fillinTextSmall {
  from {
    background: transparent
  }

  to {
    background: palegreen;
    text-shadow: 4px 131px 57px #000;
  }
}

@keyframes fillinTextLarge {
  from {
    background: transparent
  }

  to {
    background: palegreen;
    text-shadow: 55px 70px 40px #000;
  }
}

@media (min-width: 600px) {

  .overlay {
    font-size: 27px;
  }

  .overlay h1,
  .overlay h2 {
    animation-name: fillinTextLarge;
  }
}


/* .svg {
  animation: 12s ease-in 5s slidein;
  animation-fill-mode: forwards;
  position: fixed;
  height: 8000px;
  width: 8000px;
} */


.tree-outline {
  stroke:#000000;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 15s linear 12s infinite alternate;
  fill: transparent;
}

@keyframes dash {
  99% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  100% {
    /* fill: black; */
    stroke-dashoffset: 0;
  }
}
